.rotate-in-top-right {
    text-decoration: none;
    color: #272727;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #272727;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.rotate-in-top-right::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: top right;
    transform: rotate(90deg);
    transition: transform 1s;
}

.rotate-in-top-right:hover::before {
    transform: rotate(0deg);
}

.slide-in-left {
    text-decoration: none;
    color: #351435;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #351435;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
    transition: all 1s;
    margin-bottom: 1rem;
}

.slide-in-left::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #351435;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translateX(-100%);
    /* transform: translateY(100%); */
    transition: all 1s
}

.slide-in-left:hover::before {
    transform: translateX(0);
}

.slide-in-left:hover {
    color: white;
}

.slide-out-quad {
    text-decoration: none;
    color: #e18d2d;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #e18d2d;
    padding: 40px 80px;
    position: relative;
    /* overflow: hidden; */
    transition: all 1s;
    margin-bottom: 1rem;
}

.slide-out-quad::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e18d2d;
    transition: all 1s;
    transform: rotateX(90deg);
    z-index: -1;
}

.slide-out-quad::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e18d2d;
    transition: all 1s;
    transform: rotateY(90deg);
    z-index: -1;
}

.slide-out-quad:hover::before {
    transform: rotateX(0deg);
}

.slide-out-quad:hover::after {
    transform: rotateY(0deg);
}

.slide-out-quad:hover {
    color: white;
}

.grow-red {
    text-decoration: none;
    padding: 40px 80px;
    color: #e1332d;
    border: 5px solid #e1332d;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 300;
    letter-spacing: -1px;
    transition: all 0.5s;
    margin-bottom: 1rem;
}

.grow-red:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #e1332d;
}

.slide-in-top-content {
    text-decoration: none;
    color: #5d5d5d;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #5d5d5d;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    margin-bottom: 1rem;
}


.slide-in-top-content::before {
    content: 'Click me!';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #5d5d5d;
    /* z-index: -1; */
    transform: translateY(-100%);
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-in-top-content:hover {
    color: white;
}

.slide-in-top-content:hover:before {
    transform: translateY(0);
    color: white;
}

.slide-across-diagonal {
    text-decoration: none;
    color: #1f7ad0;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #1f7ad0;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s;
    margin-bottom: 1rem;
}

.slide-across-diagonal:hover {
    background-color: #1f7ad0;
    color: white;
}

.slide-across-diagonal::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    /* z-index: -1; */
    background-color: white;
    transform: translateX(-100%) rotate(45deg);
    transition: 0.4s;
}

.slide-across-diagonal:hover::before {
    transform: translateX(100%) rotate(45deg);
}

.slide-out-diagonal {
    text-decoration: none;
    background-color: #a010c8;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #a010c8;
    padding: 40px 80px;
    position: relative;
    color: transparent;
    overflow: hidden;
    margin-bottom: 1rem;
}

.slide-out-diagonal::before {
    content: 'Hover me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: #a010c8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.slide-out-diagonal::after {
    content: 'Hover me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    transform: translate(-100%, 100%);
}

.slide-out-diagonal:hover:before {
    transform: translate(100%, -100%);
    color: transparent;
}

.slide-out-diagonal:hover:after {
    transform: translate(0, 0);
    color: #a010c8;
}

.fade-in {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #262626;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.fade-in::before {
    content: 'Hover me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(5);
    transition: all 0.5s;
    opacity: 0;
}

.fade-in:hover::before {
    transform: scale(1);
    opacity: 1;
}

.container {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}