<div class="container">
    <a href="#" class="rotate-in-top-right">Hover me</a>
    <a href="#" class="slide-in-left">Hover me</a>
    <a href="#" class="slide-out-quad">Hover me</a>
    <a href="#" class="grow-red">Hover me</a>
    <a href="#" class="slide-in-top-content">Hover me</a>
    <a href="#" class="slide-across-diagonal">Hover me</a>
    <a href="#" class="slide-out-diagonal">Hover me</a>
    <a href="#" class="fade-in">Hover me</a>
    <button class="btn slide-in-radius">button</button>
    <button class="btn flip-over">button</button>
    <a href="#" class="shutter-open">button</a>
</div>