.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section:has(.rainbow-text) {
    font-family: Poppins, sans-serif;
    background-color: #262626;
}

.rainbow-text {
    position: relative;
    font-size: 6rem;
    letter-spacing: 0.05em;
    cursor: default;
    text-transform: uppercase;
    font-weight: 500;
}

.rainbow-text span {
    color: #555;
    transition: all 0.25s;
}

.rainbow-text:hover span {
    color: #fe6fdb;
    text-shadow: 0 0 5px #fe6fdb, 0 0 15px #fe6fdb, 0 0 30px #fe6fdb;
}