<div class="container">
  <h1>ANIMATIONS</h1>
  <div class="section floating-text">
    <h1>coming <br />soon!</h1>
  </div>
  <div class="section loading-rotate">
    <div class="loading-square"></div>
  </div>
  <div class="section side-scrolling-background">
    <img src="driving/car.png" class="car" alt="a car" />
    <img src="driving/motobike.png" class="motobike" alt="a motobike" />
  </div>
  <div class="section vertical-scrolling-background"></div>
  <div class="section shake">
    <a href="#">Hover me</a>
  </div>
  <div class="section side-scrolling-bar">
    <a href="#">Hover me</a>
  </div>
  <div class="section">
    <div class="heart"></div>
  </div>
  <div class="section castle">
    <div class="rain"></div>
  </div>
  <div class="section icon-bar">
    <ul>
      <li><i class="fas fa-heart"></i></li>
      <li><i class="fas fa-glass-martini"></i></li>
      <li><i class="fas fa-globe"></i></li>
      <li><i class="fas fa-gift"></i></li>
    </ul>
  </div>
  <div class="section wave-fill">
    <a href="#"
      >button
      <div class="wave"></div
    ></a>
  </div>
  <div class="section">
    <div class="slider"></div>
  </div>
  <div class="section">
    <div class="cloud-container">
        <div class="cloud">
            <div class="raindrops">
                <span style="--seconds: 11"></span>
                <span style="--seconds: 12"></span>
                <span style="--seconds: 10"></span>
                <span style="--seconds: 14"></span>
                <span style="--seconds: 18"></span>
                <span style="--seconds: 16"></span>
                <span style="--seconds: 19"></span>
                <span style="--seconds: 20"></span>
                <span style="--seconds: 19"></span>
                <span style="--seconds: 10"></span>
                <span style="--seconds: 16"></span>
                <span style="--seconds: 14"></span>
                <span style="--seconds: 18"></span>
                <span style="--seconds: 11"></span>
                <span style="--seconds: 13"></span>
                <span style="--seconds: 14"></span>
                <span style="--seconds: 12"></span>
                <span style="--seconds: 17"></span>
                <span style="--seconds: 13"></span>
                <span style="--seconds: 15"></span>
            </div>
        </div>
    </div>
  </div>
  <div class="section img-clip">
    <img src="slider/img-1.jpg" alt="">
  </div>
</div>
