<h1>2D TRANSFORMS</h1>
<h3>Translate, Resize, Rotate, Skew, Origin</h3>
<div class="container">
  <div id="cat-translate">
    <img src="cat.jpg" alt="a white cat" />
  </div>
  <div id="cat-resize">
    <img src="cat.jpg" alt="a white cat" />
  </div>
  <div id="cat-rotate">
    <img src="cat.jpg" alt="a white cat" />
  </div>
  <div id="cat-skew">
    <img src="cat.jpg" alt="a white cat" />
  </div>
  <div id="cat-origin">
    <img src="cat.jpg" alt="a white cat" />
  </div>

  <h1>3D TRANSFORMS</h1>
  <div id="cat-3d-translate">
    <img src="cat.jpg" alt="a white cat" />
  </div>
  <div id="cat-3d-rotate">
    <img src="cat.jpg" alt="a white cat" />
  </div>
</div>
