<form (ngSubmit)="onSubmitCalculate()">
  <div class="input-group">
    <p>
      <label for="intitial-investment">Initial Investment</label>
      <input
        id="intitial-investment"
        type="number"
        name="initial-investment"
        [(ngModel)]="initialInvestmentSignal"
      />
    </p>
    <p>
      <label for="annual-investment">Annual Investment</label>
      <input
        id="annual-investment"
        type="number"
        name="annual-investment"
        [(ngModel)]="annualInvestmentSignal"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return (%)</label>
      <input
        id="expected-return"
        type="number"
        name="expected-return"
        [(ngModel)]="expectedReturnSignal"
      />
    </p>
    <p>
      <label for="duration">Duration (Years)</label>
      <input
        id="duration"
        type="number"
        name="duration"
        [(ngModel)]="durationSignal"
      />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
