<div class="container">
  <div class="section wave">
    <h2>wave</h2>
    <h2>wave</h2>
  </div>
  <div class="section">
    <div class="img-menu">
      <div class="clip img-1"></div>
      <div class="clip img-2"></div>
      <div class="clip img-3"></div>
    </div>
  </div>
  <div class="section .img-clip-circle">
    <div class="card">
      <div class="img">
        <img src="img-menu/2.jpg" alt="a person holding a skateboard behind their head" />
      </div>
      <div class="content">
        <h2>Title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          cupiditate, temporibus amet quaerat saepe!
        </p>
        <a href="#">Read more!</a>
      </div>
    </div>
  </div>
</div>
