<div class="container">
  <app-cockpit
    (serverCreatedEmitter)="onServerAdded($event)"
    (blueprintCreatedEmitter)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirstServer()">
        Change first element
      </button>
      <button class="btn btn-danger" (click)="onDestroyFirstComponent()">
        Destroy first component
      </button>
      <hr>
      <app-server-element
        *ngFor="let server of serverElements"
        [srvElement]="server"
      ></app-server-element>
    </div>
  </div>
</div>
